{% load static %}

<!-- Including Jquery -->
 <script src="{% static 'products/js/jquery-3.3.1.min.js' %}"></script>
 <script src="{% static 'products/js/modernizr-3.6.0.min.js' %}"></script>
 <script src="{% static 'products/js/jquery.cookie.js' %}"></script>
 <script src="{% static 'products/js/wow.min.js' %}"></script>
 <!-- Including Javascript -->
 <script src="{% static 'products/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'products/js/plugins.js' %}"></script>
 <script src="{% static 'products/js/popper.min.js' %}"></script>
 <script src="{% static 'products/js/lazysizes.js' %}"></script>
 <script src="{% static 'products/js/main.js' %}"></script>
 <!-- Photoswipe Gallery -->
 <script src="{% static 'products/js/photoswipe.min.js' %}"></script>
 <script src="{% static 'products/js/photoswipe-ui-default.min.js' %}"></script>